pyrofork==2.3.29 
ntgcalls==1.2.2b1
py-tgcalls==2.0.2
requests
gTTS
httpx
pymongo
motor
pydub
tgcrypto
loguru
python-dotenv
flask
requests-tor
youtube-search
Flask
Flask-Session
flask_socketio
aiosqlite
